<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register | Told</title>
</head>
<body>
    <%- include('./components/navbar.ejs') %>
    <form action="register" method="post">
        <input type="text" name="username" id="username" placeholder="username">
        <input type="text" name="password" id="password" placeholder="password">
        <input type="submit" value="Register!">
    </form>
</body>
</html>