#account {
    width: var(--navbr-height);
    height: 8vh;
}
#account > a {
    height: var(--navbr-height)/2;
    padding-inline: 20px;
    color: white;
    float: right;
    background-color: var(--primary-button-background-color);
}
#account > a:hover {
    background-color: var(--navbt-background-color);
}
nav {
    width: 100%;
    height: var(--navbr-height);
    background-color: var(--navbt-background-color);
}
nav > * {
    display: inline;
    padding-inline: 20px;
    line-height: var(--navbr-height);
}